name: CI
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

env: 
  JAVA_OPTS: -Xmx6G

jobs:
  build:
    name: CI
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: coursier/cache-action@v6      

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin' 
          java-version: '17'
          cache: sbt

      - name: SBT remote cache
        id: remote-cache
        uses: actions/cache@v3
        with:
          path: ./.remote-cache
          key: ${{ runner.os }}-remote-cache

      - name: Pull cache 
        run: sbt --client pullRemoteCache || echo 'remote cache not found'

      - name: apt-get update
        run: sudo apt-get update

      - name: Install GTK
        run: sudo apt-get install libgtk-4-dev libadwaita-1-dev

      - name: Compile
        run: sbt --client Test/compile

      - name: Test
        run: sbt --client test

      - name: Publish locally
        run: sbt --client publishLocal

      - name: Build binary
        run: sbt --client examples/nativeLink

      - name: Push cache 
        run: sbt --client pushRemoteCache || echo 'oh well then'

      - name: Publish ${{ github.ref }}
        if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main')
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

  mergify-build-checkpoint:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: I only exist to please Mergify :(
        run: echo "It's a sad existence but necessary"

